{% extends 'base.html' %} {% block content %}

<hr>
<h2 align="center">TERM 1</h2>
<!--สร้างตาราง-->
<table class="table">
  <thead class="thead-dark">
    <tr>
      <!--แบ่งเป็น 3 columns-->
      <th scope="col" id="sub">Subject</th>
      <th scope="col" id="unt">Unit</th>
      <th scope="col" id="grd">Grade</th>
    </tr>
  </thead>

    <!--ใส่ข้อมูลในเทอม 1 ลงตาราง-->
    {% for itemlist in dataterm1 %}
    <tbody>
      <tr>
      <!--ใส่วิชาลงไป-->
      <td id="sbjct">{{itemlist.subject}}</td>
      <!--ใส่หน่วยกิตของแต่ละวิชาลงไป-->
      <td id="un">{{itemlist.unit}}</td>
      <!--ใส่เกรดของแต่ละวิชาลงไป-->
      <td id="gr">{{itemlist.grade}}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>

<h3 id="GPA_first_term">GPA :
<!--GPA term 1-->
{% for listGPA in GPARES %}
  {{listGPA.GPA_1}}
{% endfor %}</h3>

<!--GPAX-->
<h3 id="GPAX">Your GPAX : 
  {% for listGPAX in res_GPAX %}
    {{listGPAX.GPAX}}
  {% endfor %}</h3>

{% endblock %}
