{% extends 'base.html' %} {% block content %}


<hr>
<h2 align="center">TERM 2</h2>
<!--สร้างตาราง-->
<table class="table">
  <thead class="thead-dark">
    <tr>
      <!--แบ่งเป็น 3 columns-->
      <th scope="col">Subject</th>
      <th scope="col">Unit</th>
      <th scope="col">Grade</th>
    </tr>
  </thead>

    <!--ใส่ข้อมูลในเทอม 2 ลงตาราง-->
    {% for itemlist in dataterm2 %}
  <tbody>
    <tr>
      <!--ใส่วิชาลงไป-->
      <td>{{itemlist.subject}}</td>
      <!--ใส่หน่วยกิตของแต่ละวิชาลงไป-->
      <td>{{itemlist.unit}}</td>
      <!--ใส่เกรดของแต่ละวิชาลงไป-->
      <td>{{itemlist.grade}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<h3 id="GPA_second_term">GPA :
<!--GPA term 2-->
{% for listGPA in GPARES %}
  {{listGPA.GPA_2}}
{% endfor %}</h3>

<!--GPAX-->
<h3 id=GPAX>Your GPAX : 
  {% for listGPAX in res_GPAX %}
    {{listGPAX.GPAX}}
  {% endfor %}</h3>
{% endblock %}
